# Tinanic

In [1]:
import pandas as pd

In [2]:
BENCH_MARK = .5
DIM = 30
HIDDEN = 512
train_df = pd.read_csv("/data/titanic/Data/train.csv")
test_df = pd.read_csv("/data/titanic/Data/test.csv")
train_df = train_df.fillna(0)
test_df = test_df.fillna(0)
train_df["AgeZero"] = train_df["Age"].apply(lambda x:(int(x==0))*1)
test_df["AgeZero"] = test_df["Age"].apply(lambda x:(int(x==0))*1)

In [3]:
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeZero
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S,0
5,6,0,3,"Moran, Mr. James",male,0.0,0,0,330877,8.4583,0,Q,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,0,S,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,0,S,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,0,C,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,0,S,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,0,S,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,0,S,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,0,S,0
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,0,Q,0
17,18,1,2,"Williams, Mr. Charles Eugene",male,0.0,0,0,244373,13.0000,0,S,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,0,S,0
19,20,1,3,"Masselmani, Mrs. Fatima",female,0.0,0,0,2649,7.2250,0,C,1
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,0,S,0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,0,Q,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,0,S,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,0,S,0
26,27,0,3,"Emir, Mr. Farred Chehab",male,0.0,0,0,2631,7.2250,0,C,1
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,0.0,0,0,330959,7.8792,0,Q,1
29,30,0,3,"Todoroff, Mr. Lalio",male,0.0,0,0,349216,7.8958,0,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,0,S,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,0.0,8,2,CA. 2343,69.5500,0,S,1
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,0,S,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,0,S,0
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,0,C,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,0.0,0,0,345777,9.5000,0,S,1
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,0,S,0
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,0,S,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,0
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,0,S,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,0,C,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,0,C,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,0,S,0
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,0,S,0
878,879,0,3,"Laleff, Mr. Kristo",male,0.0,0,0,349217,7.8958,0,S,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,0,S,0
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,0,S,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,0,S,0
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,0,S,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,0,S,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,0,Q,0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0.0,1,2,W./C. 6607,23.4500,0,S,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q,0

In [4]:
from ray.b4tab import categorical,minmax,tabulate,categorical_idx

In [5]:
Pclass = categorical_idx("Pclass",)
Pclass.build(train_df.Pclass)

   Pclass
3     491
1     216
2     184

In [6]:
Sex = categorical_idx("Sex")
Sex.build(train_df.Sex)

        Sex
male    577
female  314

In [7]:
Embarked = categorical_idx("Embarked")
Embarked.build(train_df.Embarked)

   Embarked
S       644
C       168
Q        77
0         2

In [8]:
AgeZero = categorical_idx("AgeZero")
AgeZero.build(train_df.AgeZero)

   AgeZero
0      714
1      177

In [9]:
Age = minmax("Age")
Age.build(train_df.Age)

min_:0.000 	max_:80.000	 range:80.000

In [10]:
SibSp = minmax("SibSp")
SibSp.build(train_df.SibSp)

min_:0.000 	max_:8.000	 range:8.000

In [11]:
Parch = minmax("Parch")
Parch.build(train_df.Parch)

min_:0.000 	max_:6.000	 range:6.000

In [12]:
Fare = minmax("Fare")
Fare.build(train_df.Fare)

min_:0.000 	max_:512.329	 range:512.329

In [13]:
x_pre = tabulate("x_pre")
x_pre.build(Pclass,Sex,Embarked,AgeZero,Age,SibSp,Parch,Fare)

In [14]:
len(Pclass.cate_list)

3

In [15]:
Survived = minmax("Survived")
Survived.build(train_df["Survived"])

min_:0.000 	max_:1.000	 range:1.000

In [16]:
y_pre = tabulate("y_pre")
y_pre.build(Survived)

In [17]:
# x_pre.prepro(train_df)[:,1:2]

In [18]:
x_pre.prepro(train_df).shape,y_pre.prepro(train_df).shape

((891, 8), (891, 1))

In [19]:
import torch
from torch import nn

In [20]:
class ti_mlp(nn.Module):
    def __init__(self):
        super(ti_mlp,self).__init__()
        self.emb_p = nn.Embedding(len(Pclass.cate_list),DIM)
        self.emb_s = nn.Embedding(len(Sex.cate_list),DIM)
        self.emb_e = nn.Embedding(len(Embarked.cate_list),DIM)
        self.emb_a = nn.Embedding(2,DIM)
        self.mlp = nn.Sequential(*[
            nn.Linear(DIM*4+4,HIDDEN,bias=False),
            nn.BatchNorm1d(HIDDEN),
            nn.ReLU(),
            nn.Linear(HIDDEN,HIDDEN,bias=False),
            nn.BatchNorm1d(HIDDEN),
            nn.ReLU(),
            nn.Linear(HIDDEN,1,bias=False),
            nn.Sigmoid(),
        ])
    def forward(self,x):
        p,s,e,a,conti = x[:,:1].long(),x[:,1:2].long(),x[:,2:3].long(),x[:,3:4].long(),x[:,4:].float()
        x_ = torch.cat([self.emb_p(p).squeeze(1),
                        self.emb_s(s).squeeze(1),
                        self.emb_e(e).squeeze(1),
                        self.emb_a(a).squeeze(1),
                        conti],dim=1)
        return self.mlp(x_)

In [21]:
from ray.matchbox import DF_Dataset,Trainer

In [22]:
train_ds = DF_Dataset(train_df,x_prepro=x_pre.prepro,y_prepro=y_pre.prepro,bs=64,shuffle=False)
valid_ds = DF_Dataset(test_df,x_prepro=x_pre.prepro,y_prepro=y_pre.prepro,bs=64,shuffle=False)

In [23]:
from torch.optim import Adam

In [24]:
model = ti_mlp()

In [25]:
opt = Adam(model.parameters())
loss_func = nn.BCELoss()

In [26]:
def action(*args,**kwargs):
    x,y = args[0]
    x = x.squeeze(0)
    y = y.float()
    opt.zero_grad()
    y_ = model(x)
    loss = loss_func(y_,y)
    acc = accuracy(y_,y.long())
    rec = recall(y_,y.long())
    prec = precision(y_,y.long().squeeze(0))
    f1 = (rec*prec)/(rec+prec)
    loss.backward()
    opt.step()
    return {"loss":loss.item(),"acc":acc,"rec":rec,"prec":prec,"f1":f1}

def val_action(*args,**kwargs):
    x,y = args[0]
    x = x.squeeze(0)
    y = y.float()
    y_ = model(x)
    loss = loss_func(y_,y)
    acc = accuracy(y_,y.long())
    rec = recall(y_,y.long())
    prec = precision(y_,y.long().squeeze(0))
    f1 = (rec*prec)/(rec+prec)
    return {"loss":loss.item(),"acc":acc,"rec":rec,"prec":prec,"f1":f1}

from ray.matchbox import accuracy

def recall(y_pred,y_true):
    is_right = (((y_pred > BENCH_MARK)*1).long()==y_true)
    is_right_in_targ = is_right[y_true==1]
    if len(is_right_in_targ) == 0:
        is_right_in_targ = torch.zeros(1)
    return is_right_in_targ.float().mean()

def precision(y_pred,y_true):
    is_right = (((y_pred > BENCH_MARK)*1).long()==y_true)
    is_right_in_pred = is_right[(y_pred > BENCH_MARK)]
    if len(is_right_in_pred) == 0:
        is_right_in_pred = torch.zeros(1)
    return is_right_in_pred.float().mean()

def f1(recall,precision):
    """
    stantard f1 for binary classification
    recall:
    precision:
    """
    return 2*precision*recall/(precision + recall)

In [27]:
trainer=Trainer(train_ds,batch_size=1,print_on=2)

In [28]:
trainer.action = action
trainer.val_action = val_action

In [29]:
trainer.train(50)

  0%|          | 0/14 [00:00<?, ?it/s]/Users/salvor/anaconda3/lib/python3.6/site-packages/torch/nn/functional.py:1474: UserWarning: Using a target size (torch.Size([1, 64, 1])) that is different to the input size (torch.Size([64, 1])) is deprecated. Please ensure they have the same size.
  "Please ensure they have the same size.".format(target.size(), input.size()))
⭐[ep_0_i_7]	acc	0.648✨	f1	0.331✨	loss	0.518✨	prec	0.745✨	rec	0.597:  36%|███▌      | 5/14 [00:00<00:00, 27.75it/s]/Users/salvor/anaconda3/lib/python3.6/site-packages/torch/nn/functional.py:1474: UserWarning: Using a target size (torch.Size([1, 59, 1])) that is different to the input size (torch.Size([59, 1])) is deprecated. Please ensure they have the same size.
  "Please ensure they have the same size.".format(target.size(), input.size()))
⭐[ep_0_i_13]	acc	0.609✨	f1	0.351✨	loss	0.434✨	prec	0.901✨	rec	0.576: 100%|██████████| 14/14 [00:00<00:00, 45.49it/s]
⭐[ep_1_i_13]	acc	0.648✨	f1	0.310✨	loss	0.489✨	prec	0.767✨	rec	0.532: 100%|██████████| 14/14 [00:00<00:00, 47.29it/s]
⭐[ep_2_i_13]	acc	0.602✨	f1	0.313✨	loss	0.473✨	prec	0.828✨	rec	0.503: 100%|██████████| 14/14 [00:00<00:00, 48.64it/s]
⭐[ep_3_i_13]	acc	0.672✨	f1	0.305✨	loss	0.486✨	prec	0.689✨	rec	0.577: 100%|██████████| 14/14 [00:00<00:00, 48.78it/s]
⭐[ep_4_i_13]	acc	0.555✨	f1	0.344✨	loss	0.510✨	prec	0.898✨	rec	0.563: 100%|██████████| 14/14 [00:00<00:00, 54.10it/s]
⭐[ep_5_i_13]	acc	0.635✨	f1	0.375✨	loss	0.375✨	prec	0.858✨	rec	0.670: 100%|██████████| 14/14 [00:00<00:00, 53.46it/s]
⭐[ep_6_i_13]	acc	0.648✨	f1	0.334✨	loss	0.440✨	prec	0.716✨	rec	0.629: 100%|██████████| 14/14 [00:00<00:00, 49.12it/s]
⭐[ep_7_i_13]	acc	0.641✨	f1	0.331✨	loss	0.451✨	prec	0.824✨	rec	0.567: 100%|██████████| 14/14 [00:00<00:00, 48.97it/s]
⭐[ep_8_i_13]	acc	0.594✨	f1	0.364✨	loss	0.422✨	prec	0.885✨	rec	0.623: 100%|██████████| 14/14 [00:00<00:00, 45.59it/s]
⭐[ep_9_i_13]	acc	0.648✨	f1	0.384✨	loss	0.433✨	prec	0.836✨	rec	0.722: 100%|██████████| 14/14 [00:00<00:00, 51.60it/s]
⭐[ep_10_i_13]	acc	0.719✨	f1	0.320✨	loss	0.458✨	prec	0.614✨	rec	0.672: 100%|██████████| 14/14 [00:00<00:00, 51.93it/s]
⭐[ep_11_i_13]	acc	0.595✨	f1	0.394✨	loss	0.359✨	prec	0.873✨	rec	0.719: 100%|██████████| 14/14 [00:00<00:00, 54.71it/s]
⭐[ep_12_i_13]	acc	0.508✨	f1	0.388✨	loss	0.460✨	prec	0.897✨	rec	0.686: 100%|██████████| 14/14 [00:00<00:00, 54.75it/s]
⭐[ep_13_i_13]	acc	0.602✨	f1	0.345✨	loss	0.499✨	prec	0.747✨	rec	0.647: 100%|██████████| 14/14 [00:00<00:00, 50.44it/s]
⭐[ep_14_i_13]	acc	0.617✨	f1	0.357✨	loss	0.404✨	prec	0.906✨	rec	0.592: 100%|██████████| 14/14 [00:00<00:00, 50.50it/s]
⭐[ep_15_i_13]	acc	0.642✨	f1	0.382✨	loss	0.396✨	prec	0.802✨	rec	0.729: 100%|██████████| 14/14 [00:00<00:00, 50.83it/s]
⭐[ep_16_i_13]	acc	0.555✨	f1	0.403✨	loss	0.377✨	prec	0.958✨	rec	0.701: 100%|██████████| 14/14 [00:00<00:00, 48.34it/s]
⭐[ep_17_i_13]	acc	0.609✨	f1	0.379✨	loss	0.333✨	prec	0.891✨	rec	0.659: 100%|██████████| 14/14 [00:00<00:00, 53.15it/s]
⭐[ep_18_i_13]	acc	0.602✨	f1	0.395✨	loss	0.447✨	prec	0.826✨	rec	0.759: 100%|██████████| 14/14 [00:00<00:00, 55.63it/s]
⭐[ep_19_i_13]	acc	0.609✨	f1	0.387✨	loss	0.322✨	prec	0.941✨	rec	0.659: 100%|██████████| 14/14 [00:00<00:00, 54.61it/s]
⭐[ep_20_i_13]	acc	0.641✨	f1	0.362✨	loss	0.435✨	prec	0.770✨	rec	0.686: 100%|██████████| 14/14 [00:00<00:00, 56.53it/s]
⭐[ep_21_i_13]	acc	0.642✨	f1	0.355✨	loss	0.392✨	prec	0.799✨	rec	0.640: 100%|██████████| 14/14 [00:00<00:00, 51.03it/s]
⭐[ep_22_i_13]	acc	0.664✨	f1	0.399✨	loss	0.344✨	prec	0.816✨	rec	0.807: 100%|██████████| 14/14 [00:00<00:00, 49.51it/s]
⭐[ep_23_i_13]	acc	0.619✨	f1	0.405✨	loss	0.319✨	prec	0.857✨	rec	0.770: 100%|██████████| 14/14 [00:00<00:00, 48.65it/s]
⭐[ep_24_i_13]	acc	0.642✨	f1	0.359✨	loss	0.406✨	prec	0.782✨	rec	0.664: 100%|██████████| 14/14 [00:00<00:00, 53.96it/s]
⭐[ep_25_i_13]	acc	0.611✨	f1	0.418✨	loss	0.344✨	prec	0.944✨	rec	0.751: 100%|██████████| 14/14 [00:00<00:00, 56.16it/s]
⭐[ep_26_i_13]	acc	0.595✨	f1	0.408✨	loss	0.309✨	prec	0.879✨	rec	0.760: 100%|██████████| 14/14 [00:00<00:00, 55.26it/s]
⭐[ep_27_i_13]	acc	0.603✨	f1	0.414✨	loss	0.331✨	prec	0.921✨	rec	0.756: 100%|██████████| 14/14 [00:00<00:00, 56.78it/s]
⭐[ep_28_i_13]	acc	0.664✨	f1	0.390✨	loss	0.317✨	prec	0.818✨	rec	0.758: 100%|██████████| 14/14 [00:00<00:00, 53.39it/s]
⭐[ep_29_i_13]	acc	0.625✨	f1	0.359✨	loss	0.420✨	prec	0.728✨	rec	0.712: 100%|██████████| 14/14 [00:00<00:00, 53.08it/s]
⭐[ep_30_i_13]	acc	0.641✨	f1	0.361✨	loss	0.401✨	prec	0.811✨	rec	0.652: 100%|██████████| 14/14 [00:00<00:00, 53.45it/s]
⭐[ep_31_i_13]	acc	0.688✨	f1	0.373✨	loss	0.389✨	prec	0.764✨	rec	0.746: 100%|██████████| 14/14 [00:00<00:00, 46.35it/s]
⭐[ep_32_i_13]	acc	0.633✨	f1	0.396✨	loss	0.349✨	prec	0.811✨	rec	0.776: 100%|██████████| 14/14 [00:00<00:00, 54.68it/s]
⭐[ep_33_i_13]	acc	0.516✨	f1	0.391✨	loss	0.446✨	prec	0.897✨	rec	0.692: 100%|██████████| 14/14 [00:00<00:00, 52.78it/s]
⭐[ep_34_i_13]	acc	0.658✨	f1	0.365✨	loss	0.373✨	prec	0.778✨	rec	0.690: 100%|██████████| 14/14 [00:00<00:00, 55.25it/s]
⭐[ep_35_i_13]	acc	0.602✨	f1	0.370✨	loss	0.424✨	prec	0.875✨	rec	0.648: 100%|██████████| 14/14 [00:00<00:00, 56.13it/s]
⭐[ep_36_i_13]	acc	0.595✨	f1	0.423✨	loss	0.305✨	prec	0.884✨	rec	0.812: 100%|██████████| 14/14 [00:00<00:00, 57.19it/s]
⭐[ep_37_i_13]	acc	0.641✨	f1	0.414✨	loss	0.316✨	prec	0.833✨	rec	0.826: 100%|██████████| 14/14 [00:00<00:00, 58.08it/s]
⭐[ep_38_i_13]	acc	0.594✨	f1	0.404✨	loss	0.381✨	prec	0.862✨	rec	0.762: 100%|██████████| 14/14 [00:00<00:00, 59.45it/s]
⭐[ep_39_i_13]	acc	0.570✨	f1	0.421✨	loss	0.343✨	prec	1.000✨	rec	0.728: 100%|██████████| 14/14 [00:00<00:00, 57.72it/s]
⭐[ep_40_i_13]	acc	0.562✨	f1	0.431✨	loss	0.307✨	prec	0.962✨	rec	0.784: 100%|██████████| 14/14 [00:00<00:00, 56.60it/s]
⭐[ep_41_i_13]	acc	0.680✨	f1	0.352✨	loss	0.385✨	prec	0.711✨	rec	0.702: 100%|██████████| 14/14 [00:00<00:00, 58.68it/s]
⭐[ep_42_i_13]	acc	0.562✨	f1	0.404✨	loss	0.386✨	prec	0.892✨	rec	0.739: 100%|██████████| 14/14 [00:00<00:00, 57.84it/s]
⭐[ep_43_i_13]	acc	0.689✨	f1	0.414✨	loss	0.296✨	prec	0.817✨	rec	0.840: 100%|██████████| 14/14 [00:00<00:00, 56.63it/s]
⭐[ep_44_i_13]	acc	0.516✨	f1	0.405✨	loss	0.402✨	prec	0.887✨	rec	0.746: 100%|██████████| 14/14 [00:00<00:00, 57.28it/s]
⭐[ep_45_i_13]	acc	0.523✨	f1	0.404✨	loss	0.379✨	prec	0.942✨	rec	0.709: 100%|██████████| 14/14 [00:00<00:00, 57.10it/s]
⭐[ep_46_i_13]	acc	0.648✨	f1	0.397✨	loss	0.340✨	prec	0.812✨	rec	0.798: 100%|██████████| 14/14 [00:00<00:00, 57.99it/s]
⭐[ep_47_i_13]	acc	0.617✨	f1	0.429✨	loss	0.306✨	prec	0.932✨	rec	0.802: 100%|██████████| 14/14 [00:00<00:00, 55.46it/s]
⭐[ep_48_i_13]	acc	0.656✨	f1	0.368✨	loss	0.382✨	prec	0.773✨	rec	0.703: 100%|██████████| 14/14 [00:00<00:00, 56.95it/s]
⭐[ep_49_i_13]	acc	0.703✨	f1	0.365✨	loss	0.351✨	prec	0.751✨	rec	0.721: 100%|██████████| 14/14 [00:00<00:00, 57.96it/s]